.learn-more {
    margin-bottom: 90px;
    margin-top: 30px;
}

.learn-more-content {
    background-image: url(../img/about/learn-more-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 31px;
}

.learn-more__title,
.learn-more__subtitle {
    text-align: center;
}

.learn-more__button {
    margin-top: 15px;
    border: none;
}

.learn-more__button a {
    padding: 13px 40px;
    background-color: var(--background-card);
    color: var(--title-color);
    margin-top: 15px;
    font-family: var(--title-font-family);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    line-height: 30px;
}

.learn-more__button a:hover {
    background-color: var(--title-color);
    color: var(--background-card);
}

@media (min-width: 768px) {
    .learn-more-content {
        padding: 80px 34px;
    }
}

@media (min-width: 992px) {
    .learn-more-content {
        padding: 120px 40px;
    }
}

.learn-more__button {
    margin-top: 20px;
}