body {
    font-family: Noto Sans, sans-serif;
    color: #AAA4A4;
    margin: 0;
}

p {
    color: #AAA4A4;
}

a {
    text-decoration: none;
}
/* Поки закоментувала, бо всі заголовки на сторінці стають дуже великі і викликають горизонтальний скрол
h1 {
    font-size: 84px;
    color: white;
}

h2 {
    font-size: 17px;
    color: white;

}

h3 {
    font-size: 58px;
    color: white;
}

h4 {
    font-size: 19px;
    color: #aaa4a4;
}

*/