@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Teko:wght@400;500&display=swap");

:root {
  font-family: "Noto Sans", sans-serif;
  --title-font-family: "Teko", sans-serif;
  --brand-color: #e51937;
  --text-color: #aaa4a4;
  --title-color: #ffffff;
  --input-color: #2a2a2a;
  --background-color: #1a1a1a;
  --background-bottom-color: #131313;
  --background-card: rgb(19, 19, 19);
  --active-btn-color: #c50322;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
}

.container-main {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 768px) {
  .container-main {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (min-width: 992px) {
  .container-main {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1280px) {
  .container-main {
    padding-left: 15px;
    padding-right: 15px;
  }
}