/*Стилі обов'язкові для всіх*/
* {
    margin: 0;
    padding: 0;
    }

:root {
     font-family: 'Noto Sans', sans-serif;
    }
 
body {
    color: #AAA4A4;
    background-color: #131313;
}

a {
    text-decoration: none;
}


h1 {
    font-size: 84px;
    color: white;
}
/* Поки закоментувала, бо всі заголовки на сторінці стають дуже великі і викликають горизонтальний скрол
h2 {
    font-size: 17px;
    color: white;

}

h3 {
    font-size: 58px;
    color: white;
}

h4 {
    font-size: 19px;
    color: #aaa4a4;
}

*/