.container {
  width: 100%;
  max-width: 1200px;
  margin: 0;
}
.intro {
  width: 100%;
  height: 100vh;

  /*background: url('img/header/background_header.png') center no-repeat; maybe*/
  background: url("https://res2.weblium.site/res/61ced67bf631b300228187d9/61dee98e2ff01300227a3e3c_optimized") center no-repeat;
  background-size: cover;
}
