@import url(common.css);
@import url(control.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);

body {
    font-family: Noto Sans, sans-serif;
    color: #AAA4A4;
}
p {
    color: #AAA4A4;
}
a {
    text-decoration: none;
}

h1 {
    font: size 84px;
    color: white;
}

h2 {
  font-size: 17px;
  color:white;

}

h3 {
    font-size: 58x;
    color: white;
}

h4 {
    font-size: 19px;
    color: #AAA4A4;
}