.reviews {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .reviews {
    padding: 0;
  }
}

.reviews__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}

@media (max-width: 767px) {
  .reviews__header {
    justify-content: center;
  }
}

.reviews__title {
  font-size: 17px;
  color: #ffffff;
  margin: 50px 0 0 0;
}

@media (max-width: 767px) {
  .reviews__title {
    font-size: 14px;
  }
}

.reviews__big-text {
  margin: 20px 0 0 0;
  font-size: 58px;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 767px) {
  .reviews__big-text {
    font-size: 40px;
  }
}

.reviews__small-text {
  margin: 25px 0 0 0;
  font-size: 19px;
  line-height: 1.6;
  color: #aaa4a4;
  text-align: center;
}

.reviews__carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 740px;
}

.reviews__carousel1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
}

.reviews__carousel2 {
  overflow: hidden;
}

.reviews__carousel-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  transition: transform 0.5s
}

.reviews__carousel-people {
  height: 120px;
  width: 120px;
}

@media (max-width: 767px) {
  .reviews__carousel-people {
    height: 70px;
    width: 70px;
  }
}

.reviews__carousel-name {
  font-size: 26px;
  color: white;
}

@media (max-width: 767px) {
  .reviews__carousel-name {
    font-size: 24px;
  }
}

.reviews__carousel-reviewstext {
  color: #9b9797;
  font-size: 17px;
  text-align: center;
}

.reviews__carousel-data,
.reviews__carousel-position {
  color: #e51937;
  font-size: 12px;
}

.reviews__carousel-part > p {
  margin-top: 20px;
  margin-bottom: 0;
}

.reviews__carousel-button-container:not(.disabled):hover{
  cursor: pointer;
}

.reviews__carousel-button-container.disabled:hover{
  cursor: not-allowed;
}

@media (max-width: 767px) {
  .reviews__carousel-button-container {
    background-color: #e51937;
    border-radius: 50%;
    position: relative;
    min-width: 24px;
    min-height: 24px;
  }
}

.reviews__carousel-button-container:first-child{
  margin-left: 24px;
}

.reviews__carousel-button-container:last-child{
  margin-right: 24px;
}

.reviews__carousel-button-container > img {
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
  .reviews__carousel-button-container > img {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 8px;
    top: 6px;
  }
}
