
.card_advantage {
    border: 1px solid #131313;
    background-color: #131313;
    padding: 20px;
    margin-right: 5px;
    margin-left: 5px;
    align-items: left;

}

.carousel__advantage-image {
  width: 70px;
  padding-top: 10px;
}

.carousel__advantage-title {
  font-family: Teko, sans-serif;
  font-size: 28px;
  color: white;
}

.carousel-line {
  width: 50px;
  border: 1.5px solid rgb(230, 18, 52);;
  background-color: rgb(230, 18, 52);
  margin: 10px 0 10px 0;
}

.carousel__advantage-text {
  font-family: Noto-Sans, sans-serif;
  font-size: 17px;
  margin-top: 10px;
}

.carousel{
    padding: 60px 32px 60px 32px;
}

@media (min-width:320px) {
  .carousel__advantage{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }
}

@media (min-width:760px) {
  .carousel__advantage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}

@media (min-width:1200px) {
    .carousel__advantage{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 5px;
    }
}

