.cars{
  margin-top: 80px;
  margin-bottom: 80px;
}

.cars__carousel {
  display: flex;
  justify-content: space-around;
}

.currency {
  border: 1px solid var(--brand-color);
  background: var(--background-color);
  height: 30px;
  width: 120px;
  margin-left: 20px;
  font-family: Teko, sans-serif;
  font-size: 24px;
  color: var(--title-color);
  cursor: text;
  text-align: center;
}

.convert {
  background: var(--brand-color);
  height: 30px;
  width: 70px;
  border: 1px solid var(--brand-color);
  cursor: pointer;
  text-align: center;
  opacity: 1;
  font-family: "Teko", sans-serif;
  font-size: 21px;
  color: var(--title-color);
}

.convert:hover{
  background: var(--active-btn-color);
  border-color: var(--active-btn-color);
  transition: 0.3s;
}

.cars__title {
  text-align: center;
  letter-spacing: 2px;
  font-family: Teko, sans-serif;
  font-size: 21px;
  font-weight: 300;
  color: var(--title-color);
}

.cars__big-title {
  text-align: center;
  font-family: Teko, sans-serif;
  font-weight: 500;
  font-size: 76px;
  color: var(--title-color);
}

.cars__text {
  text-align: center;
  font-family: Noto sans, sans-serif;
  font-weight: 600;
  font-size: 19px;
  color: var(--text-color);
}

.cars__carousel-image {
  width: 50%;
  height: 40%;
  
}

.cars__carousel {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  align-items: center;
}

.cars__carousel-brand {
  font-family: Teko, sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: var(--title-color);
}

.cars__carousel-prise {
  font-family: Noto sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: var(--brand-color);
}

.cars_carousel-model .cars__carousel-characteristics {
  font-family: Noto sans, sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: var(--text-color);
}

.cars__carousel-learn {
  font-family: Teko, sans-serif;
  text-decoration: none;
  color: var(--title-color);
  font-size: 18px;
}

.cars__carousel-learn:hover {
  text-decoration: underline;
}

@media (min-width: 320px) {
  .cars__carousel {
    grid-template-columns: 1fr;
    gap: 8px;
  }
}

@media (min-width: 760px) {
  .cars-carousel-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .cars__carousel-brand {
    font-size: 26px;
  }
}

@media (min-width: 980px) {
  .cars__carousel-brand {
    font-size: 28px;
  }
  .cars__carousel-prise {
    font-size: 13px;
  }
}
