/* Tania */

.advice__banner {
  font-family: var(--title-font-family);
  color: var(--title-color);
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  padding-top: 100px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 352px) {
  .advice__banner {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
}

.advice {
  text-align: center;
  box-sizing: border-box;
  padding-bottom: 120px;
  padding-left: 15px;
  padding-right: 15px;
}

.advice__general {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/advice/advice_img_bg.webp);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /*min-width: 100vh;*/
  margin-top: 30px;
}

.advice__general > img {
  display: block;
}

.advice__button {
  font-family: var(--title-font-family);
  color: var(--title-color);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 100%;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
}

@media (min-width: 411px) {
  .advice__button {
    display: flex;
    flex-direction: block;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
  }
}

.button__consultation {
  font-family: var(--title-font-family);
  background-color: var(--brand-color);
  border: 2px solid var(--brand-color);
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 13.5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 13.5px;
  text-align: center;
  width: 193px;
  height: 57px;
  margin: 10px auto;
  box-sizing: border-box;
}

.button-more {
  text-align: center;
  border: 2px solid var(--brand-color);
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 13.5px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 13.5px;
  width: 150px;
  height: 57px;
  margin: 10px auto;
  box-sizing: border-box;
}

.deals__paragraph,
.deals__hottest,
.deals__prices {
  padding-left: 15px;
  padding-right: 15px;
}

.deals__paragraph {
  font-family: var(--title-font-family);
  color: var(--title-color);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.deals__hottest {
  font-family: var(--title-font-family);
  color: var(--title-color);
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}

.deals__prices {
  font-size: 19px;
  display: flex;
  justify-content: flex-start;
}

@media (min-width: 352px) {
  .deals__prices {
    display: flex;
    flex-direction: row;
    text-align: start;
  }
}

.proposal__ford {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/advice/steering_wheel_advice.png);
  background-size: cover;
  background-position: center;
  border: 1px;
  margin: 15px;
}

.proposal__volkswagen {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/advice/headlight_advice.webp);
  background-size: cover;
  background-position: center;
  border: 1px;
  margin: 15px;
}

.advice__proposal > img {
  display: block;
  width: 100%;
}

.proposal__ford-focus,
.proposal__volkswagen-golf {
  color: var(--title-color);
  font-family: var(--title-font-family);
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.proposal__ford-focus-price,
.proposal__volkswagen-price {
  color: var(--brand-color);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

.proposal__ford-enquire,
.proposal__volkswagen-enquire {
  color: var(--title-color);
  font-family: var(--title-font-family);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.proposal__div {
  margin-top: 50px;
  padding-top: 400px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  background-color: var(--background-color);
}

.proposal__div-deals {
  margin-top: 55px;
  padding-top: 55px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: var(--background-color);
}

@media (min-width: 767px) {
  .proposal__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }
}

@media (min-width: 991px) {
  .general__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }

  .proposal__grid {
    grid-column: 2 / 4;
  }
}
