/* Iryna Shtynda start */

.contacts {
  background-color: var(--background-bottom-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.contacts .container-main {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.contacts__content-title {
  font-family: var(--title-font-family);
  font-size: 38px;
  color: var(--title-color);
  font-weight: 400;
  line-height: 38px;
}

.brand-text {
  color: var(--brand-color);
}

.contacts__content-description {
  font-size: 19px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 25px;
}

.contacts__content-inner {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 16px;
}

.contact {
  display: flex;
  align-items: center;
}

.contact-icon {
  color: var(--brand-color);
  font-size: 22px;
}

.contact-link {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  color: var(--title-color);
}

.contact-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contacts__map iframe {
  width: 100%;
  height: 264px;
  border: none;
}

@media (min-width: 768px) {
  .contacts .container-main {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  .contacts__content {
    flex: 7;
  }

  .contacts__map {
    flex: 5;
  }

  .contacts__content-title {
    font-size: 46px;
  }
}

@media (min-width: 992px) {
  .contacts__content-title {
    font-size: 54px;
    line-height: 54px;
  }

  .contacts__content-inner {
    flex-direction: row;
    gap: 24px;
  }

  .contact-link {
    font-size: 21px;
  }
}

.gallery-carousel {
  background-color: var(--background-bottom-color);
  padding-top: 30px;
  padding-bottom: 30px;
}

.gallery-carousel .container-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.gallery-carousel .slider-container {
  display: flex;
  justify-content: center;
}

.gallery-carousel .slider-container div {
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.gallery-carousel img {
  display: block;
  width: 100%;
}

.gallery-carousel button {
  background-color: var(--title-color);
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 9px;
  border: none;
  border-radius: 50%;
}

.gallery-carousel button:hover {
  background-color: var(--title-color);
  opacity: 1;
  cursor: pointer;
  transition: all .2s ease-out;
}

.gallery-carousel button i {
  font-size: 16px;
  color: var(--background-bottom-color)
}

.btn-prev {
  margin-right: -30px;
  z-index: 2;
}

.btn-next {
  margin-left: -30px;
  z-index: 2;
}

@media (min-width: 1280px) {
  .gallery-carousel .container-main {
    padding: 0;
  }

  .gallery-carousel button {
    background-color: var(--background-bottom-color-color);
    opacity: 1;
    padding: 0;
    border: none;
  }

  .gallery-carousel button:hover {
    background-color: var(--background-bottom-color-color);
  }

  .gallery-carousel button i {
    font-size: 30px;
    color: rgb(255, 255, 255, 0.75);
  }

  .gallery-carousel button i:hover {
    color: var(--title-color);
    transition: all .2s ease-out;
  }

  .btn-prev {
    margin-right: 0;
  }

  .btn-next {
    margin-left: 0;
  }
}