
body {
    font-family: Noto Sans, sans-serif;
}
p {
    color: #AAA4A4;
}
a {
    text-decoration: none;
}
.background {
    width: 100%;
    height: 100vh;
    background: url(img/background_header.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.header {
    padding: 10px 40px;
}

.nav {
    font-size: 12px;
}
