body {
    font-family: Noto Sans, sans-serif;
}
p {
    color: #AAA4A4;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 100vh;

    background: url(img/background_header.png) no-repeat;
    background-size: cover;
}

.nav {
    font-size: 12px;
}